= render 'devise/shared/tab_single', tab_title:'修改密码'
.login-box
  .login-body
    = form_for(resource, as: resource_name, url: password_path(:user), html: { method: :put, class: 'gl-show-field-errors' }) do |f|
      .devise-errors
        = render "devise/shared/error_messages", resource: resource
      = f.hidden_field :reset_password_token
      .form-group
        = f.label '新密码', for: "user_password"
        = f.password_field :password, class: "form-control top qa-password-field", required: true, title: '必填项'
      .form-group
        = f.label '确认新密码', for: "user_password_confirmation"
        = f.password_field :password_confirmation, class: "form-control bottom qa-password-confirmation", title: '必填项', required: true
      .clearfix
        = f.submit "修改密码", class: "btn btn-primary qa-change-password-button"

.clearfix.prepend-top-20
  %p
    %span.light 没有收到确认邮件？
    = link_to "重新发送", new_confirmation_path(:user)
= render 'devise/shared/sign_in_link'
