- @no_container = true
- page_title "项目"
- params[:visibility_level] ||= []


%div{ class: container_class }
  .top-area.scrolling-tabs-container.inner-page-scroll-tabs
    .prepend-top-default
      .search-holder
        = render 'shared/projects/search_form', autofocus: true, icon: true, admin_view: true
        .dropdown
          - toggle_text = '命名空间'
          - if params[:namespace_id].present?
            = hidden_field_tag :namespace_id, params[:namespace_id]
            - namespace = Namespace.find(params[:namespace_id])
            - toggle_text = "#{namespace.kind}: #{namespace.full_path}"
          = dropdown_toggle(toggle_text, { toggle: 'dropdown', is_filter: 'true' }, { toggle_class: 'js-namespace-select large' })
          .dropdown-menu.dropdown-select.dropdown-menu-right
            = dropdown_title('命名空间')
            = dropdown_filter("搜索命名空间")
            = dropdown_content
            = dropdown_loading
        = render 'shared/projects/dropdown'
        = link_to new_project_path, class: 'btn btn-success' do
          新建项目
        = button_tag "搜索", class: "btn btn-primary btn-search hide"

    %ul.nav-links.nav.nav-tabs
      - opts = params[:visibility_level].present? ? {} : { page: admin_projects_path }
      = nav_link(opts) do
        = link_to admin_projects_path do
          全部

      = nav_link(html_options: { class: active_when(params[:visibility_level] == Gitlab::VisibilityLevel::PRIVATE.to_s) }) do
        = link_to admin_projects_path(visibility_level: Gitlab::VisibilityLevel::PRIVATE) do
          私有
      = nav_link(html_options: { class: active_when(params[:visibility_level] == Gitlab::VisibilityLevel::INTERNAL.to_s) }) do
        = link_to admin_projects_path(visibility_level: Gitlab::VisibilityLevel::INTERNAL) do
          内部
      = nav_link(html_options: { class: active_when(params[:visibility_level] == Gitlab::VisibilityLevel::PUBLIC.to_s) }) do
        = link_to admin_projects_path(visibility_level: Gitlab::VisibilityLevel::PUBLIC) do
          公共

  = render 'projects'
