= form_for [:admin, @label], html: { class: 'label-form js-requires-input' } do |f|
  = form_errors(@label)

  .form-group.row
    .col-sm-2.col-form-label
      = f.label :title, "标题"
    .col-sm-10
      = f.text_field :title, class: "form-control", required: true
  .form-group.row
    .col-sm-2.col-form-label
      = f.label :description, "描述"
    .col-sm-10
      = f.text_field :description, class: "form-control js-quick-submit"
  .form-group.row
    .col-sm-2.col-form-label
      = f.label :color, _("Background color")
    .col-sm-10
      .input-group
        .input-group-prepend
          .input-group-text.label-color-preview &nbsp;
        = f.text_field :color, class: "form-control"
      .form-text.text-muted
        = _('Choose any color.')
        %br
        = _("Or you can choose one of the suggested colors below")

      = render_suggested_colors

  .form-actions
    = f.submit _('Save'), class: 'btn btn-success js-save-button'
    = link_to _("Cancel"), admin_labels_path, class: 'btn btn-cancel'
